body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    position: relative;
    font-family: gilroy;
    overflow: hidden;
  }
  

/* INICIO IMAGEN CON TEXTO SOBREPUESTO */
  .container img {
    height: 30vh;
      width: 100%;
      object-fit: cover;
      object-position: top;
  }

  .container .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 74px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  /* FINAL IMAGEN CON TEXTO SOBREPUESTO */

  .camp{
    justify-content: center;
    align-items: center;
    min-height: 40vh; /* Corregido: 95vh */
    text-align: center;
    align-items: flex-start;
    background-color: rgb(193, 232, 255);
}




.contenedor {
  max-width: 400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
}

input[type="submit"] {
  background-color: #4ca0af;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

input[type="submit"]:hover {
  background-color: #4586a0;
}

textarea {
  resize: vertical;
}

.form-message {
  color: #b4b4b4;
  font-style: italic;
  margin-top: 5px;
}

.error-message {
  color: #ff0000;
  font-weight: bold;
}