body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    position: relative;
    font-family: gilroy;
    overflow: hidden;
  }
  

/* INICIO IMAGEN CON TEXTO SOBREPUESTO */
  .container img {
    height: 30vh;
      width: 100%;
      object-fit: cover;
      object-position: top;
  }

  .container .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 74px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  /* FINAL IMAGEN CON TEXTO SOBREPUESTO */

  .camp{
    justify-content: center;
    align-items: center;
    min-height: 40vh; /* Corregido: 95vh */
    text-align: center;
    align-items: flex-start;
    background-color: rgb(193, 232, 255);
}

.camp-text {
  color: #333;
  font-size: 48px;
  margin-bottom: 10px;
}
