<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
</head>

<body>
    <div class="container-fluid">
        <nav id="nav-1">
            <a class="link-1" routerLink="/INICIO">INICIO</a>
            <a class="link-1" routerLink="/my">SOBRE MI</a>
            <a class="link-1" routerLink="/SERVICIOS">SERVICIOS</a>
            <a class="link-1" routerLink="/BLOG">BLOG</a>
            <a class="link-1" routerLink="/CONTACTO">CONTACTO</a>
        </nav>

        
    </div>
    
    
    <router-outlet></router-outlet>


    <footer class="footer1">
        <div class="footer1-columns">
            <div class="footer1-column">
                <ul>
                    <li>Desarrollo Web</li>
                    <li>Creacion de Titios Web</li>
                    <li>Desarrollo de Software</li>
                    <li>Diseño Grafico</li>
                </ul>
            </div>
            <div class="footer1-column">
                <ul>
                    <li>Conoce más sobre mí</li>
                    <li>Conoce mis servicios</li>
                    <li>Ver mis ultimos proyectos</li>
                    <li>Enviarme un mensaje</li>
                </ul>
            </div>
            <div class="footer1-column">
                <ul>
                    <li>----</li>
                    <li>----</li>
                    <li>----</li>
                    <li>----</li>
                </ul>
            </div>
            <div class="footer1-column">
                <ul>
                    <li>Correo Electronico:</li>
                    <li>rojasalejandro987@gmail.com</li>
                    <li>Ubicación:</li>
                    <li>El Salvador, Usulután</li>
                </ul>
            </div>
        </div>
    </footer>
    <div class="footer-content">
        <div class="footer-text">
            © Todos Los Derechos Reservados - Alejandro Rojas
        </div>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/alejandro-rojas-007960248/" target="_blank"
                class="social-link linkedin">
                <div class="social-icon">
                    <i class="fa fa-linkedin"></i>
                </div>
                <span class="hide-text">LinkedIn</span>
            </a>
        </div>
    </div>

</body>
<script src="./js/app.component.js"></script>

</html>