<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
</head>

<body>
    <div class="container">
    <div class="row">
        <div class="card col6">
            <p-card class="divcard" header="Alejandro Rojas" subheader="Profesional en Ingenieria de Sistemas">
                <ng-template pTemplate="header">
                    <img class="foto" alt="Alejandro" src="https://avatars.githubusercontent.com/u/133620451?v=4" />
                </ng-template>
                <p>Egresado de Ingeniería Informática en la Universidad Gerardo Barrios.</p>



                <p>Poseo conocimientos en servicios relacionados a tecnologías de la información.
                    <br>Presento aptitudes de liderazgo y trabajo en equipo.
                    <br>Conocimientos en análisis, diseño y desarrollo web.
                    <br>Administración de bases de datos y gestión de la información.
                    <br>Desarrollo de soluciones tecnológicas con metodologías ágiles y tradicionales.
                </p>

                <ng-template pTemplate="footer">
                    <p-button label="CV" icon="pi pi-download"></p-button>
                    <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary"
                        [style]="{ 'margin-left': '.5em' }"></p-button>
                </ng-template>
            </p-card>
        </div>
        <div class="card col6">
            <p-card class="divcard" header="Alejandro Rojas" subheader="Profesional en Ingenieria de Sistemas">
                <ng-template pTemplate="header">
                    <img class="foto" alt="Alejandro" src="https://avatars.githubusercontent.com/u/133620451?v=4" />
                </ng-template>
                <p>Egresado de Ingeniería Informática en la Universidad Gerardo Barrios.</p>



                <p>Poseo conocimientos en servicios relacionados a tecnologías de la información.
                    <br>Presento aptitudes de liderazgo y trabajo en equipo.
                    <br>Conocimientos en análisis, diseño y desarrollo web.
                    <br>Administración de bases de datos y gestión de la información.
                    <br>Desarrollo de soluciones tecnológicas con metodologías ágiles y tradicionales.
                </p>

                <ng-template pTemplate="footer">
                    <p-button label="CV" icon="pi pi-download"></p-button>
                    <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary"
                        [style]="{ 'margin-left': '.5em' }"></p-button>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>
</body>

</html>