.container {
	position: relative;
	font: gilroy;
	overflow: hidden;
}

.row-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 95vh;
	text-align: center;
}

/*TARJETA PRESENTATIVA INICIO*/
.cardf {
	width: 160vmin;
	height: 70vmin;
	display: flex;
	background-color: rgb(0, 0, 0);
	border-radius: 10px;
  }

  .card__img {
	background-position: center;
	width: 50%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 10px;
  }

  #img01 {
	background-image: url("https://avatars.githubusercontent.com/u/133620451?v=4");
  }

  .card__content {
	padding: 10% 5%;
	box-sizing: border-box;
	width: 50%;
	color: rgb(0, 0, 0);
  background-color: rgb(240, 239, 239);
  }

  .card__content-theme {
	font-weight: 900;
	font-size: 1.7vmin; 
  }

  .card__content-header {
	font-weight: 900;
	font-size: 54px;
	font-size: 7vmin;
	text-transform: capitalize;
	letter-spacing: 0.01em;
	line-height: 0.91;
	margin: 3vmin 0 3.5vmin;  
  }

  .card__content-paragraph {
	font-size: 1.6vmin;
	line-height: 1.7;
	font-weight: 300;
	margin-bottom: 2.5vmin;
  }
  /*TARJETA PRESENTATIVA FINAL*/